@import url("https://fonts.googleapis.com/css?family=Arvo|Playfair+Display:900i");
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximanovat-thin-webfont.woff2") format("woff2"), url("../fonts/proximanovat-thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximanova-light-webfont.woff2") format("woff2"), url("../fonts/proximanova-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("../fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("../fonts/proximanova-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximanova-bold-webfont.woff2") format("woff2"), url("../fonts/proximanova-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximanova-extrabld-webfont.woff2") format("woff2"), url("../fonts/proximanova-extrabld-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximanova-black-webfont.woff2") format("woff2"), url("../fonts/proximanova-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

/* 0px+ */
@media screen {
  /* DEBUGGING START */
  .div {
    border: 1px solid red; }
  /* DEBUGGING END */
  .row {
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
  p {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.6; }
  h1 {
    font-family: 'Arvo', serif;
    font-size: 1.875em;
    font-weight: 400;
    color: #1f2021;
    line-height: 1.4;
    margin-bottom: 0.625rem; }
  h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-style: italic;
    font-size: 4.25em;
    color: #e8e8e8;
    line-height: 0.9;
    -webkit-transform: translate(0%, 60%);
    transform: translate(0%, 60%); }
  h4 {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .24em;
    color: #878a8c;
    z-index: 2;
    position: relative;
    line-height: 1.6; }
  .btn {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .24em;
    color: #1f2021;
    border-width: 2px;
    border-style: solid;
    border-radius: 100px;
    padding: 17px 30px 15px;
    margin-bottom: 0;
    line-height: 1;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    .btn::before, .btn::after {
      content: '';
      position: absolute;
      z-index: -1;
      height: 110%;
      width: 0%;
      left: 0;
      top: 0;
      -webkit-transform: skew(-50deg);
              transform: skew(-50deg);
      -webkit-transform-origin: top left;
              transform-origin: top left;
      -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    .btn:hover::before, .btn:hover::after {
      width: 131%; }
  .btn-light {
    color: #1f2021;
    border-color: #1f2021; }
    .btn-light::before, .btn-light::after {
      background: #1f2021; }
    .btn-light:hover {
      color: #ffffff !important; }
  .btn-dark {
    color: #ffffff;
    border-color: #3c3d3e; }
    .btn-dark::before, .btn-dark::after {
      background: #ffffff; }
    .btn-dark:hover {
      color: #1f2021 !important;
      border-color: #ffffff; }
  .no-scroll {
    position: fixed;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 100%;
    overflow-y: scroll; }
  .overlay {
    position: fixed;
    top: 0;
    z-index: 3;
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: #1f2021;
    color: #ffffff;
    padding-top: 75px; }
  .nav-toggle {
    width: 54px;
    height: 54px;
    border: none;
    background: none;
    -webkit-appearence: none;
    float: right;
    right: -14px;
    position: relative;
    cursor: pointer; }
  .nav-toggle:focus, .nav-toggle:active {
    outline: none; }
  .nav-toggle .nav-label {
    opacity: 1;
    float: left;
    display: none;
    font-size: 14px;
    text-transform: uppercase; }
  .nav-toggle.nav-open .nav-svg path.x {
    -webkit-transition: .2s .2s ease-in-out;
    transition: .2s .2s ease-in-out;
    -webkit-transform: rotate(45deg) translate(-24%, 80px) scaleX(0.7);
    transform: rotate(45deg) translate(-24%, 80px) scaleX(0.7); }
  .nav-toggle.nav-open .nav-svg path.x:first-of-type {
    -webkit-transform: rotate(-45deg) translate(-24%, -80px) scaleX(0.7);
    transform: rotate(-45deg) translate(-24%, -80px) scaleX(0.7); }
  .nav-toggle.nav-open .nav-svg path.yy {
    stroke-dashoffset: -1200;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out; }
  .nav-toggle .nav-svg {
    display: inline-block;
    width: 54px;
    height: 54px; }
  .nav-toggle .nav-svg path {
    stroke: white;
    stroke-width: 80; }
  .nav-toggle .nav-svg path.x {
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: rotate(0deg) translateX(0px);
    transform: rotate(0deg) translateX(0px); }
  .nav-toggle .nav-svg path.yy {
    stroke-dashoffset: 1700;
    stroke-dasharray: 2520 3000;
    -webkit-transition: .2s .2s ease-in-out;
    transition: .2s .2s ease-in-out; }
  header {
    background-color: #1f2021; }
    header .nav-mobile {
      height: 75px;
      position: relative;
      z-index: 4; }
      header .nav-mobile .row {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
      header .nav-mobile .logo {
        width: 56px;
        height: 44px;
        float: left;
        margin-top: 4px; }
    header .nav-large {
      display: none; }
    header .intro {
      text-align: center;
      color: #ffffff;
      margin-top: 40px;
      margin-bottom: 135px; }
      header .intro h1 {
        font-size: 2.5em;
        color: #ffffff;
        margin-bottom: 0; }
        header .intro h1 span {
          font-family: 'Playfair Display', serif;
          font-weight: 900;
          font-style: italic; }
  .about-me {
    background-color: #f5f5f5;
    text-align: center;
    padding-bottom: 60px; }
    .about-me img:first-child {
      display: block;
      margin: 0 auto -70px;
      width: 100%;
      max-width: 320px;
      position: relative;
      -webkit-transform: translate(0%, -50%);
      transform: translate(0%, -50%); }
    .about-me h1 {
      margin-bottom: 16px;
      z-index: 2;
      position: relative; }
    .about-me p {
      color: #767676;
      margin-bottom: 0; }
  .featured-projects {
    padding: 60px 0px;
    background-color: #ffffff;
    text-align: center; }
    .featured-projects .container {
      margin-bottom: 30px; }
    .featured-projects .project-list {
      font-family: 'Source Sans Pro', sans-serif;
      position: relative;
      overflow: hidden;
      width: 100%;
      max-width: 560px;
      text-align: center;
      background-color: black;
      margin: 20px auto 0px;
      z-index: 1;
      border-radius: 5px; }
    .featured-projects .project-list * {
      box-sizing: border-box;
      -webkit-transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    .featured-projects .project-list img {
      vertical-align: top;
      max-width: 100%;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
    .featured-projects .project-list figcaption {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      bottom: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .featured-projects .project-list h1,
    .featured-projects .project-list h4 {
      margin: 0;
      opacity: 0; }
    .featured-projects .project-list h1 {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      color: #ffffff;
      font-size: 26px;
      margin-bottom: 0.2em; }
    .featured-projects .project-list h4 {
      font-weight: 600;
      -webkit-transform: translateY(100%);
      transform: translateY(100%); }
    .featured-projects .project-list a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1; }
    .featured-projects .project-list:hover > img,
    .featured-projects .project-list.hover > img {
      opacity: 0.2;
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
    .featured-projects .project-list:hover h1,
    .featured-projects .project-list.hover h1,
    .featured-projects .project-list:hover h4,
    .featured-projects .project-list.hover h4 {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }
    .featured-projects #show-more {
      display: none; }
  .my-resume {
    background-color: #1f2021;
    padding: 60px 0px;
    text-align: center;
    position: relative; }
    .my-resume h1 {
      color: #ffffff; }
    .my-resume h4 {
      color: #878a8c;
      margin-bottom: 20px; }
    .my-resume .top-arrow {
      width: 141px;
      height: 32px;
      background-image: url("../img/top-arrow.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% 100%;
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0); }
      .my-resume .top-arrow a {
        font-size: 1.5em;
        line-height: 1;
        color: #c8c9ca;
        -webkit-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
        display: block;
        width: 50%;
        height: 100%;
        line-height: 1.9; }
        .my-resume .top-arrow a:hover {
          color: #878a8c; }
  footer {
    text-align: center;
    background-color: #ffffff; }
    footer .container {
      padding: 60px 0px 40px; }
    footer .nav-footer {
      margin-bottom: 25px;
      position: relative; }
      footer .nav-footer .logo,
      footer .nav-footer .btn {
        display: none; }
      footer .nav-footer ul {
        margin: 0; }
        footer .nav-footer ul li {
          list-style-type: none;
          font-family: 'Proxima Nova', sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 15px;
          letter-spacing: .24em;
          padding-bottom: 20px; }
          footer .nav-footer ul li:last-child {
            padding-bottom: 0; }
          footer .nav-footer ul li .btn {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex; }
          footer .nav-footer ul li a {
            color: #2b2d2e;
            -webkit-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
            footer .nav-footer ul li a:hover {
              color: #878a8c; }
    footer ul.social-icons {
      margin: 0px;
      font-size: 15px;
      display: inline-block; }
      footer ul.social-icons li {
        display: inline;
        padding: 0px 5px; }
        footer ul.social-icons li a {
          color: #a1a3a5;
          -webkit-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
          footer ul.social-icons li a:hover {
            color: #1f2021; }
    footer .copyright {
      background-color: #f5f5f5;
      padding: 20px;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: .24em;
      color: #949798; } }

/* 640px+ */
/* 768px+ */
/* 1024px+ */
@media screen and (min-width: 64em) {
  h1 {
    font-size: 2.375em;
    margin-bottom: 0.866rem; }
  h2 {
    font-size: 7.750em;
    -webkit-transform: translate(0%, 40%);
            transform: translate(0%, 40%); }
  h4 {
    font-size: 1em; }
  p {
    font-size: 1.188em;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto; }
  header .nav-mobile {
    display: none; }
  header .nav-large {
    height: 125px;
    display: block; }
    header .nav-large .row {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    header .nav-large .logo {
      width: 65px;
      height: 50px;
      float: left; }
    header .nav-large .btn {
      font-weight: 700;
      font-size: 13px;
      float: right; }
    header .nav-large ul {
      list-style-type: none;
      display: block;
      margin: 0 auto;
      text-align: center;
      max-width: 800px; }
      header .nav-large ul li {
        display: inline-block;
        height: 50px;
        line-height: 50px; }
        header .nav-large ul li:nth-child(2) {
          padding: 0px 80px; }
        header .nav-large ul li a {
          font-family: 'Proxima Nova', sans-serif;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 15px;
          letter-spacing: .24em;
          color: #ffffff;
          -webkit-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
          header .nav-large ul li a:hover {
            color: #878a8c; }
  header .intro {
    margin: 80px 0px 180px;
    padding: 40px 0px;
    background-image: url("../img/quote.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 376px 248px;
    max-width: 840px;
    margin-left: auto;
    margin-right: auto; }
    header .intro h1 {
      font-size: 3em; }
    header .intro h4 {
      font-size: 1.125em;
      margin-bottom: 1em; }
  .about-me {
    padding-bottom: 130px; }
    .about-me img:first-child {
      max-width: 905px;
      margin-bottom: -110px; }
    .about-me h1 {
      margin: 0 auto 22px;
      max-width: 725px; }
  .featured-projects {
    padding: 120px 0px 130px; }
    .featured-projects .container {
      margin: 10px auto 60px; }
    .featured-projects .project-list {
      margin-top: 30px; }
  .my-resume {
    padding: 80px 0px; }
    .my-resume h4 {
      margin-bottom: 30px; }
  footer .container {
    padding: 120px 0px 80px; }
  footer .copyright {
    font-size: 14px;
    padding: 40px 0px; }
  footer ul.social-icons {
    font-size: 16px; }
    footer ul.social-icons li {
      padding: 0px 12px; }
  footer .nav-footer {
    margin-bottom: 40px; }
    footer .nav-footer .logo {
      width: 65px;
      height: 50px;
      display: block;
      float: left; }
    footer .nav-footer .btn {
      font-weight: 700;
      font-size: 13px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      float: right; }
    footer .nav-footer ul {
      list-style-type: none;
      display: block;
      margin: 0 auto;
      text-align: center;
      max-width: 800px; }
      footer .nav-footer ul li {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        padding-bottom: 0; }
        footer .nav-footer ul li:first-child, footer .nav-footer ul li:last-child {
          display: none; }
        footer .nav-footer ul li:nth-child(3) {
          padding: 0px 80px; } }

/* 1200px+ */
/* 1400px+ */
