@import url("https://fonts.googleapis.com/css?family=Arvo|Playfair+Display:900i");
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("../fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("../fonts/proximanova-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximanova-bold-webfont.woff2") format("woff2"), url("../fonts/proximanova-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

.wow {
  visibility: hidden; }

.wow-disabled {
  animation-name: none !important;
  visibility: visible !important; }

::selection {
  background: #83868a;
  color: #ffffff; }

body {
  background-color: #f5f5f5; }

.row {
  padding-right: 0.625rem;
  padding-left: 0.625rem; }

p {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.7; }

h1 {
  font-family: 'Arvo', serif;
  font-size: 1.875em;
  font-weight: 400;
  color: #191a1a;
  line-height: 1.4;
  margin-bottom: 0.5rem; }

h2 {
  font-family: 'Arvo', serif;
  font-size: 1.1em;
  font-weight: 400;
  color: #191a1a;
  line-height: 1.4;
  margin-bottom: 0.5rem; }

h4 {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .24em;
  color: #83868a;
  position: relative;
  line-height: 1.6; }

.btn {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .24em;
  color: #191a1a;
  border-width: 2px;
  border-style: solid;
  border-radius: 100px;
  padding: 17px 30px 15px;
  margin-bottom: 0;
  line-height: 1;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0;
  transition: color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), border-color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), box-shadow 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .btn::before, .btn::after {
    content: '';
    position: absolute;
    z-index: -1;
    height: 110%;
    width: 0;
    left: 0;
    top: 0;
    transform: skew(-50deg);
    transform-origin: top left;
    transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .btn:hover {
    box-shadow: 0 22px 55px 0 rgba(0, 0, 0, 0.25), 0 12px 17px 0 rgba(0, 0, 0, 0.15);
    transition: color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), box-shadow 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), border-color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), background-color 0s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s; }
    .btn:hover::before, .btn:hover::after {
      width: 131%; }

.btn-light {
  color: #191a1a;
  border-color: #191a1a; }
  .btn-light::before, .btn-light::after {
    background: #191a1a; }
  .btn-light:hover {
    color: #ffffff !important;
    background-color: #191a1a; }

.btn-dark {
  color: #ffffff;
  border-color: #333536; }
  .btn-dark::before, .btn-dark::after {
    background: #ffffff; }
  .btn-dark:hover {
    color: #191a1a !important;
    border-color: #ffffff;
    background-color: #ffffff; }

.fixed {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  overflow-y: scroll; }

.img-divide {
  position: relative; }
  .img-divide img {
    position: relative; }
  .img-divide::before {
    background-color: #191a1a;
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 50%; }

.mobile-overlay {
  position: fixed;
  background: #191a1a;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 1;
  overflow: hidden;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center; }
  .mobile-overlay h4 {
    color: #ffffff;
    text-align: center; }
  .mobile-overlay nav {
    position: relative;
    text-align: center;
    margin-top: 40px; }
    .mobile-overlay nav ul.nav {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      height: 100%; }
      .mobile-overlay nav ul.nav li {
        display: block;
        position: relative;
        opacity: 1;
        margin-bottom: 30px; }
        .mobile-overlay nav ul.nav li a {
          font-family: 'Proxima Nova', sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 1.125rem;
          letter-spacing: .24em;
          color: #83868a;
          z-index: 2;
          position: relative;
          line-height: 1.4;
          transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
          .mobile-overlay nav ul.nav li a:hover, .mobile-overlay nav ul.nav li a:focus, .mobile-overlay nav ul.nav li a:active {
            color: #ffffff; }
  .mobile-overlay ul.social-icons {
    margin: 0;
    font-size: 22px;
    display: block;
    text-align: center; }
    .mobile-overlay ul.social-icons li {
      display: inline;
      padding: 0 12px;
      opacity: 1; }
      .mobile-overlay ul.social-icons li a {
        color: #454649;
        transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
        .mobile-overlay ul.social-icons li a:hover {
          color: #ffffff; }

header {
  background-color: #191a1a; }
  header .nav-header {
    height: 75px;
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 4; }
    header .nav-header .logo {
      width: 56px;
      height: 44px;
      transition: 0; }
    header .nav-header .btn {
      font-weight: 700;
      font-size: 13px;
      display: inline-flex;
      float: right; }
    header .nav-header ul {
      list-style-type: none;
      display: block;
      margin: 0 auto;
      text-align: center;
      height: auto; }
      header .nav-header ul li {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        /* Logo */
        /* Hamburger */
        /* Links */ }
        header .nav-header ul li:nth-of-type(1) {
          position: absolute;
          left: 30px;
          top: 10px; }
        header .nav-header ul li:nth-of-type(6) {
          position: absolute;
          right: 30px;
          top: 28px; }
        header .nav-header ul li:nth-of-type(2), header .nav-header ul li:nth-of-type(3), header .nav-header ul li:nth-of-type(4), header .nav-header ul li:nth-of-type(5) {
          display: none; }
        header .nav-header ul li a {
          font-family: 'Proxima Nova', sans-serif;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 15px;
          letter-spacing: .24em;
          color: #ffffff;
          transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
          header .nav-header ul li a:hover {
            color: #83868a; }
    header .nav-header .burger {
      cursor: pointer; }
      header .nav-header .burger span {
        width: 25px;
        height: 3px;
        background: #ffffff;
        display: block;
        border-radius: 10px;
        margin-bottom: 4px;
        transition: all .25s; }
        header .nav-header .burger span:nth-child(1) {
          width: 16px; }
      header .nav-header .burger:hover span:nth-child(1) {
        width: 25px; }
    header .nav-header .nav-open span {
      transform-origin: 50% 50%; }
      header .nav-header .nav-open span:nth-child(1) {
        width: 25px;
        transform: rotate(45deg) translate(5px, 5px); }
      header .nav-header .nav-open span:nth-child(2) {
        opacity: 0; }
      header .nav-header .nav-open span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px); }
  header .intro {
    text-align: center;
    color: #ffffff;
    padding: 40px 0 45px;
    position: relative;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto; }
    header .intro::before {
      display: none; }
    header .intro h1 {
      font-size: 2.5em;
      color: #ffffff;
      margin-bottom: 0; }
      header .intro h1 span {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-style: italic; }
  header .project-title {
    text-align: center;
    color: #ffffff;
    padding: 30px 0 40px;
    position: relative;
    margin-left: auto;
    margin-right: auto; }
    header .project-title::before {
      display: none; }
    header .project-title h1 {
      font-size: 2.5em;
      color: #ffffff; }
    header .project-title h4 {
      margin-bottom: 0;
      max-width: 650px;
      margin: 0 auto; }

.project-info {
  text-align: center;
  position: relative;
  background-color: #f5f5f5;
  padding-bottom: 60px; }
  .project-info h1 {
    font-size: 1.625em;
    margin-bottom: 0; }
  .project-info h4 {
    margin-bottom: 0.25rem; }
  .project-info ul {
    list-style-type: none;
    margin: 0 0 20px; }
    .project-info ul li {
      display: inline-block;
      min-width: 160px;
      padding: 10px 0; }
  .project-info p {
    color: #767676;
    margin-bottom: 0;
    letter-spacing: 0.2px;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto; }

.project-full {
  text-align: center;
  background-color: #ffffff; }
  .project-full ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .project-full img {
    width: 100%; }

.about-me {
  background-color: #f5f5f5;
  text-align: center;
  padding-bottom: 60px; }
  .about-me .books {
    display: block;
    margin: 0 auto 40px;
    width: 100%;
    max-width: 320px;
    position: relative; }
  .about-me h1 {
    margin-bottom: 16px;
    z-index: 2;
    position: relative;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto; }
  .about-me h4 {
    margin-bottom: 0.75rem; }
  .about-me p {
    color: #767676;
    margin-bottom: 0;
    letter-spacing: 0.2px;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto; }
  .about-me .type {
    max-width: 400px;
    margin: 0 0 -30px; }
  .about-me span {
    display: block; }

.featured-projects {
  padding: 60px 0;
  background-color: #ffffff;
  text-align: center; }
  .featured-projects h4 {
    margin-bottom: 0.825rem; }
  .featured-projects .btn {
    margin-top: 30px; }
  .featured-projects .project-list {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 560px;
    text-align: center;
    margin: 20px auto 0;
    z-index: 1;
    border-radius: 5px;
    transition: box-shadow 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s; }
    .featured-projects .project-list img {
      vertical-align: top;
      max-width: 100%;
      backface-visibility: hidden;
      transform: scale(1);
      transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
      transform-origin: center bottom; }
    .featured-projects .project-list figcaption {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      align-items: center;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.8);
      margin: 0;
      opacity: 0;
      will-change: opacity;
      transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s; }
      .featured-projects .project-list figcaption span {
        transform: translateY(15%);
        will-change: transform;
        transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s; }
      .featured-projects .project-list figcaption h1 {
        color: #ffffff;
        font-size: 26px;
        margin-bottom: 0.2em; }
      .featured-projects .project-list figcaption h4 {
        margin: 0; }
      .featured-projects .project-list figcaption a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1; }
  .featured-projects #show-more {
    display: none; }

.my-resume {
  background-color: #191a1a;
  padding: 60px 0 70px;
  text-align: center;
  position: relative; }
  .my-resume h1 {
    color: #ffffff; }
  .my-resume h4 {
    color: #83868a;
    margin-bottom: 20px; }
  .my-resume .top-arrow {
    width: 141px;
    height: 32px;
    background-image: url("../img/top-arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center; }
    .my-resume .top-arrow a {
      font-size: 1.5em;
      line-height: 1.6;
      color: #c5c6c8;
      transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      display: inline-block;
      width: 40%;
      will-change: transform;
      transform: translateY(6px); }
      .my-resume .top-arrow a:hover {
        color: #83868a;
        transform: translateY(4px); }

footer {
  text-align: center;
  background-color: #ffffff; }
  footer .container {
    padding: 60px 0 50px; }
  footer .nav-footer {
    margin-bottom: 25px;
    position: relative; }
    footer .nav-footer ul {
      margin: 0; }
      footer .nav-footer ul li {
        list-style-type: none;
        font-family: 'Proxima Nova', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: .24em;
        padding-bottom: 25px; }
        footer .nav-footer ul li:nth-of-type(1) {
          display: none; }
        footer .nav-footer ul li:nth-of-type(6) {
          padding-bottom: 0; }
        footer .nav-footer ul li a {
          color: #323434;
          transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
          footer .nav-footer ul li a:hover {
            color: #83868a; }
  footer ul.social-icons {
    margin: 0;
    font-size: 14px;
    display: inline-block; }
    footer ul.social-icons li {
      display: inline;
      padding: 0 5px; }
      footer ul.social-icons li a {
        color: #b7b9bc;
        transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
        footer ul.social-icons li a:hover {
          color: #191a1a; }
  footer .copyright {
    background-color: #f5f5f5;
    padding: 25px;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .24em;
    color: #909396; }

/* IE10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .intro::before {
    display: none; } }

/* IE Edge 12+ */
@supports (-ms-accelerator: true) {
  .intro::before {
    display: none; } }

/* 640px+ */
@media screen and (min-width: 40em) {
  .project-info h1 {
    font-size: 1.750em; }
  .project-info ul {
    margin-bottom: 30px; }
    .project-info ul li {
      padding: 0; } }

/* 768px+ */
@media screen and (min-width: 48em) {
  header .project-title {
    padding: 40px 0 50px; }
  .project-info h1 {
    font-size: 1.875em; }
  .project-info ul li {
    min-width: 200px; } }

/* 1024px+ */
@media screen and (min-width: 64em) {
  h1 {
    font-size: 2.375em;
    margin-bottom: 0.866rem; }
  h4 {
    font-size: 17px; }
  p {
    font-size: 1.188em;
    margin-left: auto;
    margin-right: auto; }
  header .nav-header {
    height: 125px; }
    header .nav-header .logo {
      width: 65px;
      height: 50px;
      display: block !important; }
    header .nav-header ul li {
      height: 125px;
      line-height: 125px;
      /* Logo */
      /* .btn */
      /* Hamburger */ }
      header .nav-header ul li:nth-of-type(1) {
        top: 40px;
        height: auto; }
      header .nav-header ul li:nth-of-type(2), header .nav-header ul li:nth-of-type(3), header .nav-header ul li:nth-of-type(4) {
        display: inline-block; }
      header .nav-header ul li:nth-of-type(3) {
        padding: 0 80px; }
      header .nav-header ul li:nth-of-type(5) {
        display: block;
        position: absolute;
        right: 30px;
        top: 38px;
        height: auto; }
      header .nav-header ul li:nth-of-type(6) {
        display: none; }
  header .intro {
    padding: 120px 0 160px;
    max-width: 840px;
    margin-left: auto;
    margin-right: auto; }
    header .intro::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.05;
      background-color: #191a1a;
      background-image: url("../img/quote@2x.gif");
      background-position: 50% -20px;
      background-repeat: no-repeat;
      background-size: auto 460px;
      background-blend-mode: screen; }
    header .intro h1 {
      font-size: 3em;
      position: relative; }
    header .intro h4 {
      font-size: 1.125em;
      margin-bottom: 1em; }
  header .project-title {
    padding: 60px 0 80px; }
    header .project-title h1 {
      font-size: 3em;
      margin-bottom: 0.625rem; }
    header .project-title h4 {
      font-size: 1.125em; }
  .about-me {
    padding-bottom: 130px; }
    .about-me .books {
      max-width: 905px;
      margin-bottom: 80px; }
    .about-me h1 {
      margin: 0 auto 22px;
      max-width: 800px; }
    .about-me h4 {
      margin-bottom: 1.25rem; }
    .about-me p {
      letter-spacing: 0; }
    .about-me .type {
      max-width: 570px;
      margin: 0 0 -38px; }
  .project-info {
    padding-bottom: 130px; }
    .project-info h1 {
      font-size: 2em; }
    .project-info ul {
      margin-bottom: 40px; }
      .project-info ul li {
        min-width: 225px; }
  .featured-projects {
    padding: 120px 0 130px; }
    .featured-projects h4 {
      margin-bottom: 1.5rem; }
    .featured-projects .btn {
      margin-top: 60px; }
    .featured-projects .project-list {
      margin-top: 30px; }
      .featured-projects .project-list:hover {
        box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12); }
        .featured-projects .project-list:hover img {
          transform: scale(1.03); }
        .featured-projects .project-list:hover figcaption {
          opacity: 1; }
          .featured-projects .project-list:hover figcaption span {
            transform: translateY(0); }
      .featured-projects .project-list h1 {
        font-size: 28px; }
  .my-resume {
    padding: 80px 0 90px; }
    .my-resume h4 {
      margin-bottom: 30px; }
  footer .container {
    padding: 120px 0 100px; }
  footer .copyright {
    font-size: 14px;
    padding: 30px 0; }
  footer ul.social-icons {
    font-size: 15px; }
    footer ul.social-icons li {
      padding: 0 12px; }
  footer .nav-footer {
    margin-bottom: 40px; }
    footer .nav-footer .btn {
      font-weight: 700;
      font-size: 13px;
      display: inline-flex;
      float: right; }
    footer .nav-footer ul {
      list-style-type: none;
      display: block;
      margin: 0 auto;
      text-align: center; }
      footer .nav-footer ul li {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        padding-bottom: 0; }
        footer .nav-footer ul li .logo {
          width: 65px;
          height: 50px;
          display: block;
          float: left; }
        footer .nav-footer ul li:nth-of-type(1) {
          display: inline-block;
          position: absolute;
          left: 30px; }
        footer .nav-footer ul li:nth-of-type(2) {
          display: none; }
        footer .nav-footer ul li:nth-of-type(4) {
          padding: 0 80px; }
        footer .nav-footer ul li:nth-of-type(6) {
          position: absolute;
          right: 30px; } }

/* 1200px+ */
/* 1400px+ */
