@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700i|Work+Sans:300,400,500,600,700");
.row {
  max-width: 80em; }

.wow {
  visibility: hidden; }

.static {
  animation-name: none !important;
  visibility: visible !important; }

.overflow-hidden {
  position: fixed;
  overflow-y: scroll; }

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 99; }

#status {
  width: 64px;
  height: 64px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url("../img/loading.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  margin: -32px 0 0 -32px;
  opacity: 0.15; }

.load-content {
  background-image: url("../img/glitch/01.png");
  animation: glitch 1s 0s 1; }

@keyframes glitch {
  0% {
    background-image: url("../img/glitch/01.png"); }
  4% {
    background-image: url("../img/glitch/02.png"); }
  8% {
    background-image: url("../img/glitch/03.png"); }
  12% {
    background-image: url("../img/glitch/04.png"); }
  16% {
    background-image: url("../img/glitch/05.png"); }
  20% {
    background-image: url("../img/glitch/06.png"); }
  24% {
    background-image: url("../img/glitch/07.png"); }
  28% {
    background-image: url("../img/glitch/08.png"); }
  32% {
    background-image: url("../img/glitch/09.png"); }
  36% {
    background-image: url("../img/glitch/10.png"); }
  40% {
    background-image: url("../img/glitch/11.png"); }
  44% {
    background-image: url("../img/glitch/12.png"); }
  48% {
    background-image: url("../img/glitch/13.png"); }
  52% {
    background-image: url("../img/glitch/14.png"); }
  56% {
    background-image: url("../img/glitch/15.png"); }
  60% {
    background-image: url("../img/glitch/16.png"); }
  64% {
    background-image: url("../img/glitch/17.png"); }
  68% {
    background-image: url("../img/glitch/18.png"); }
  72% {
    background-image: url("../img/glitch/19.png"); }
  76% {
    background-image: url("../img/glitch/20.png"); }
  80% {
    background-image: url("../img/glitch/21.png"); }
  84% {
    background-image: url("../img/glitch/22.png"); }
  88% {
    background-image: url("../img/glitch/23.png"); }
  92% {
    background-image: url("../img/glitch/24.png"); }
  96% {
    background-image: url("../img/glitch/25.png"); }
  100% {
    background-image: url("../img/glitch/26.png"); } }

img {
  -webkit-backface-visibility: hidden; }

body {
  font-family: 'Work Sans', sans-serif;
  color: #898b8c;
  background-color: #f5f5f5; }

a {
  transition: color 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  a:focus {
    color: #898b8c; }

.btn {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: .24em;
  color: #18191a;
  border-width: 2px;
  border-style: solid;
  border-radius: 100px;
  padding: 16px 26px 14px;
  margin-bottom: 0;
  line-height: 1;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0;
  transition: color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), border-color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), box-shadow 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .btn::before, .btn::after {
    content: '';
    position: absolute;
    z-index: -1;
    height: 110%;
    width: 0;
    left: 0;
    top: 0;
    transform: skew(-50deg);
    transform-origin: top left;
    transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .btn:hover {
    box-shadow: 0 22px 55px 0 rgba(0, 0, 0, 0.25), 0 12px 17px 0 rgba(0, 0, 0, 0.15);
    transition: color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), box-shadow 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), border-color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955), background-color 0s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s; }
    .btn:hover::before, .btn:hover::after {
      width: 131%; }

.btn-light {
  color: #18191a;
  border-color: #18191a; }
  .btn-light::before, .btn-light::after {
    background: #18191a; }
  .btn-light:hover {
    color: #ffffff !important;
    background-color: #18191a; }

.btn-dark {
  color: #ffffff;
  border-color: #323333; }
  .btn-dark::before, .btn-dark::after {
    background: #ffffff; }
  .btn-dark:hover {
    color: #18191a !important;
    border-color: #ffffff;
    background-color: #ffffff; }

header {
  text-align: center;
  background-image: url("../img/bg.png");
  background-size: 100% 100%;
  background-color: #18191a;
  background-repeat: repeat-x; }
  header nav {
    height: 90px;
    display: flex;
    align-items: center; }
    header nav .logo {
      width: 52px;
      height: 40px;
      margin-left: 20px;
      position: relative; }
    header nav .menu {
      cursor: pointer;
      z-index: 2;
      margin-left: auto;
      margin-right: 20px; }
      header nav .menu span {
        width: 25px;
        height: 2px;
        background: #ffffff;
        border-radius: 4px;
        display: block;
        margin-bottom: 5px;
        transition: all .2s; }
        header nav .menu span:nth-child(1) {
          width: 16px; }
        header nav .menu span:nth-child(3) {
          margin-bottom: 0; }
      header nav .menu:hover span:nth-child(1) {
        width: 25px; }
    header nav .menu-open span {
      transform-origin: 50% 50%; }
      header nav .menu-open span:nth-child(1) {
        width: 25px;
        transform: rotate(45deg) translate(5px, 5px); }
      header nav .menu-open span:nth-child(2) {
        opacity: 0; }
      header nav .menu-open span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px); }
    header nav ul {
      display: none; }
  header .intro {
    position: relative;
    padding: 20px 0 50px; }
    header .intro h1 {
      font-family: 'Playfair Display', serif;
      font-size: 2.2em;
      color: #ffffff;
      margin-bottom: 1rem;
      line-height: 1.48; }
      header .intro h1 span {
        font-weight: 700;
        font-style: italic; }
    header .intro p {
      color: #898b8c;
      font-size: 18px;
      letter-spacing: .06rem;
      margin-bottom: 0; }
      header .intro p span {
        white-space: nowrap; }
  header .divider {
    text-align: center; }
    header .divider .container {
      position: relative;
      padding: 0 30px; }
      header .divider .container img {
        position: relative;
        max-width: 1150px;
        width: 100%; }
      header .divider .container::before {
        background-color: #f5f5f5;
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 50%; }
    header .divider .stack img {
      max-height: 190px;
      width: auto;
      max-width: 100%; }
    header .divider .stack::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../img/shadow@2x.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto 100%; }

.work {
  text-align: center;
  margin: 55px 0 60px;
  position: relative; }
  .work ul {
    margin: 0;
    list-style-type: none; }
    .work ul li {
      display: block;
      text-align: center;
      overflow: hidden; }
      .work ul li img {
        width: 100%;
        transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transform: scale(1);
        transform-origin: center center;
        box-shadow: 0; }
        .work ul li img:hover {
          opacity: 0.75;
          transform: scale(1.05); }
  .work #view-all {
    margin-top: 40px; }

footer {
  background-image: url("../img/bg.png");
  background-size: 100% 90%;
  background-repeat: repeat-x;
  background-color: #18191a; }
  footer .resume {
    text-align: center;
    padding: 60px 0; }
    footer .resume h4 {
      color: #898b8c;
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: .24rem;
      margin-bottom: 12px; }
    footer .resume h1 {
      font-family: 'Playfair Display', serif;
      color: #ffffff;
      font-size: 2rem;
      margin-bottom: 22px; }
  footer nav {
    height: 70px;
    background-color: #1d1e1f; }
    footer nav .copyright {
      color: #4b4c4d;
      font-size: 16px;
      text-align: center;
      line-height: 70px; }
    footer nav ul {
      display: none; }

.mobile-nav {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #18191a;
  display: flex;
  justify-content: center;
  align-items: center; }
  .mobile-nav ul {
    margin: 0;
    list-style-type: none;
    text-align: center; }
    .mobile-nav ul li {
      text-transform: uppercase;
      letter-spacing: 0.12em;
      padding: 12px; }
      .mobile-nav ul li a {
        font-size: 16px;
        letter-spacing: .24em;
        position: relative;
        color: #898b8c;
        font-weight: 500; }
        .mobile-nav ul li a:hover {
          color: #ffffff; }
    .mobile-nav ul h4 {
      color: #ffffff;
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: .48rem; }
    .mobile-nav ul .social a {
      font-size: 18px;
      color: #4a4b4c;
      padding: 0 7px; }
      .mobile-nav ul .social a:hover {
        color: #ffffff; }

@media screen and (min-width: 34.375em) {
  header .intro h1 span {
    white-space: normal; } }

@media screen and (min-width: 40em) {
  .work ul li {
    display: inline-block;
    width: 50%;
    float: left; }
    .work ul li img {
      width: 100%;
      max-width: 100%; } }

@media screen and (min-width: 64em) {
  header {
    background-position: center top;
    background-size: auto; }
    header nav {
      height: 120px; }
      header nav .logo {
        width: 66px;
        height: 51px; }
        header nav .logo:hover::before {
          display: block; }
        header nav .logo::before {
          content: '';
          width: 100px;
          height: 100px;
          background-image: url("../img/glitch/01.png");
          background-size: 120px 120px;
          background-position: 50% 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: none;
          animation: glitch 1s 0s 1; }
      header nav ul {
        margin: 0;
        list-style-type: none;
        display: block;
        margin-left: auto; }
        header nav ul li {
          display: inline;
          padding: 0 30px;
          line-height: 120px; }
          header nav ul li a {
            color: #ffffff;
            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: .18em; }
            header nav ul li a:hover {
              color: #898b8c; }
      header nav .menu {
        display: none; }
    header .intro {
      padding: 110px 0 140px; }
      header .intro h1 {
        font-size: 2.750em;
        max-width: 1100px;
        margin: 0 auto 20px; }
      header .intro p {
        font-size: 1.250em; }
    header .divider .stack {
      margin: 0 auto 80px; }
      header .divider .stack img {
        max-height: 260px; }
  .work {
    margin: 100px 0 140px; }
    .work #view-all {
      margin-top: 80px; }
  footer {
    background-position: center top -205px;
    background-size: auto; }
    footer .resume {
      padding: 120px 0; }
      footer .resume h1 {
        font-size: 2.375em;
        margin-bottom: 30px; }
      footer .resume h4 {
        font-size: 16px;
        margin-bottom: 15px; }
    footer nav {
      height: 95px; }
      footer nav .copyright {
        display: inline;
        float: left;
        letter-spacing: 0;
        line-height: 95px;
        text-align: left;
        margin-left: 25px; }
      footer nav ul {
        margin: 0;
        list-style-type: none;
        display: inline-block;
        float: right;
        margin-right: 20px; }
        footer nav ul li {
          display: inline;
          padding: 0 30px;
          line-height: 94px; }
          footer nav ul li a {
            color: #4b4c4d;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: .18em; }
            footer nav ul li a:hover {
              color: #ffffff; }
        footer nav ul .social {
          padding-right: 0; }
          footer nav ul .social a {
            font-size: 17px;
            color: #4a4b4c;
            padding: 0 7px; }
            footer nav ul .social a:last-of-type {
              padding-right: 0; }
            footer nav ul .social a:hover {
              color: #ffffff; } }
