.mdl-close {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 46px;
    height: 46px;
    display: block;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    cursor: pointer;
    -moz-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    -webkit-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out
}

.mdl-close:hover {
    background-color: rgba(0, 0, 0, 0.65)
}

#mdl-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(94, 110, 141, 0.9);
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

#mdl-overlay.active {
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh
}

.mdl {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    pointer-events: none;
    height: 100vh;
    z-index: 10001;
    flex: .5 1 auto;
    box-sizing: border-box
}

.mdl.open {
    display: flex;
    align-items: baseline;
}

.mdl .mdl-container {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 50px;
    background-color: #FFF;
    box-shadow: 0;
    overflow-y: auto;
    box-sizing: border-box;
}

.mdl.mdl-fullscreen .mdl-container {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    overflow-y: auto;
}

.mdl .mdl-container,
.mdl-close {
    pointer-events: visible
}

.mdl,
#mdl-overlay {
    display: none;
    opacity: 0
}

.mdl.open {
    display: flex
}

#mdl-overlay.active {
    display: block;
    opacity: 0
}

.mdl {
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.mdl.open.animIn,
#mdl-overlay.active.animIn {
    opacity: 1;
    -moz-transition: opacity .5s ease-in-out,;
    -o-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out
}

h2.titre {
    margin-top: 0
}

.mdl-container {
    position: relative
}

.mdl-buttons {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0
}

.mdl-buttons li {
    list-style: none;
    float: left;
    width: 50%;
    display: block;
    height: 60px
}

.mdl-buttons li a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    text-align: center;
    text-decoration: none
}

.mdl-buttons li:first-child a {
    background: #fc7169;
    border-radius: 0 0 0 .25em
}

.mdl-buttons li:first-child a:hover {
    background-color: #fc8982
}

.mdl-buttons li:last-child a {
    background: #b6bece;
    border-radius: 0 0 .25em 0
}

.mdl-buttons li:last-child a:hover {
    background-color: #c5ccd8
}

.mdl .mdl-container {
    border-radius: 0;
    color: #191a1a;
    text-align: center
}

.mdl .mdl-container.medium {
    min-height: 200px;
    max-width: 450px
}

.mdl.open.animOut,
#mdl-overlay.active.animOut {
    opacity: 0;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.mdl-close {
    background: rgba(0, 0, 0, 0.3) url(../img/icon-close.svg) no-repeat center center;
    background-size: 65% auto;
}