@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700i|Work+Sans:300,400,500,600,700');

$white:						#ffffff;
$offwhite:					#f5f5f5;
$gray:						#898b8c;
$black:						#18191a;
$copyright-text:			#4b4c4d;
$copyright-bg:				#1d1e1f;
$btn-border-dark:			#323333;
$default-transition: 		cubic-bezier(0.455, 0.03, 0.515, 0.955);
$mdc-elevation--z24: 		0 22px 55px 0 rgba(0, 0, 0, 0.25), 0 12px 17px 0 rgba(0, 0, 0, 0.15);

 // * { border: 1px solid red; }	

.row {
	max-width: 80em;
}

.wow { 
	visibility: hidden;
}

.static {
	animation-name: none !important;
    visibility: visible !important;
}

.overflow-hidden {
	position: fixed;
	overflow-y: scroll;
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $white; 
	z-index: 99; 
}

#status {
	width: 64px;
	height: 64px;
	position: absolute;
	left: 50%; 
	top: 50%; 
	background-image: url('../img/loading.svg');
  	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	margin: -32px 0 0 -32px;
	opacity: 0.15;
}

.load-logo {
	background-image: url("../img/logo01.png");
	animation: glitch-logo 1s 0s 1;
}

.load-bg {
	background-image: url("../img/bg01.jpg");
	animation: glitch-bg 1s 0s 1;
}

@keyframes glitch-logo {
    0%	{	background-image: url('../img/glitch/logo01.png'); } 
    4%	{	background-image: url('../img/glitch/logo02.png'); }
    8% 	{	background-image: url('../img/glitch/logo03.png');}
    12%	{	background-image: url('../img/glitch/logo04.png'); }
    16%	{	background-image: url('../img/glitch/logo05.png'); }
    20%	{	background-image: url('../img/glitch/logo06.png'); }
    24%	{	background-image: url('../img/glitch/logo07.png'); }
    28% {	background-image: url('../img/glitch/logo08.png'); }
    32%	{	background-image: url('../img/glitch/logo09.png'); } 
    36%	{	background-image: url('../img/glitch/logo10.png'); }
    40%	{	background-image: url('../img/glitch/logo11.png');}
    44%	{	background-image: url('../img/glitch/logo12.png'); }
    48%	{	background-image: url('../img/glitch/logo13.png'); }
    52%	{	background-image: url('../img/glitch/logo14.png'); }
    56%	{	background-image: url('../img/glitch/logo15.png'); }
    60% {	background-image: url('../img/glitch/logo16.png'); }
    64%	{	background-image: url('../img/glitch/logo17.png'); } 
    68%	{	background-image: url('../img/glitch/logo18.png'); }
    72%	{	background-image: url('../img/glitch/logo19.png');}
    76%	{	background-image: url('../img/glitch/logo20.png'); }
    80%	{	background-image: url('../img/glitch/logo21.png'); }
    84%	{	background-image: url('../img/glitch/logo22.png'); }
    88%	{	background-image: url('../img/glitch/logo23.png'); }
    92% { 	background-image: url('../img/glitch/logo24.png'); }
    96% { 	background-image: url('../img/glitch/logo25.png'); }
    100% { 	background-image: url('../img/glitch/logo26.png'); }
}

@keyframes glitch-bg {
    0%	{	background-image: url('../img/glitch/bg01.jpg'); }
    3%	{	background-image: url('../img/glitch/bg02.jpg'); }
    6% 	{	background-image: url('../img/glitch/bg03.jpg'); }
    9%	{	background-image: url('../img/glitch/bg04.jpg'); }
    12%	{	background-image: url('../img/glitch/bg05.jpg'); }
    15%	{	background-image: url('../img/glitch/bg06.jpg'); }
    18%	{	background-image: url('../img/glitch/bg07.jpg'); }
    21% {	background-image: url('../img/glitch/bg08.jpg'); }
    24%	{	background-image: url('../img/glitch/bg09.jpg'); }
    27%	{	background-image: url('../img/glitch/bg10.jpg'); }
    30%	{	background-image: url('../img/glitch/bg11.jpg'); }
    33%	{	background-image: url('../img/glitch/bg12.jpg'); }
    36% {	background-image: url('../img/glitch/bg13.jpg'); }
    39%	{	background-image: url('../img/glitch/bg14.jpg'); }
    42%	{	background-image: url('../img/glitch/bg15.jpg'); }
    45%	{	background-image: url('../img/glitch/bg16.jpg'); }
    48%	{	background-image: url('../img/glitch/bg17.jpg'); }
    51% {	background-image: url('../img/glitch/bg18.jpg'); }
    54%	{	background-image: url('../img/glitch/bg19.jpg'); }
    57%	{	background-image: url('../img/glitch/bg20.jpg'); }
    60%	{	background-image: url('../img/glitch/bg21.jpg'); }
    63%	{	background-image: url('../img/glitch/bg22.jpg'); }
    66% {	background-image: url('../img/glitch/bg23.jpg'); }
    69%	{	background-image: url('../img/glitch/bg24.jpg'); }
    72%	{	background-image: url('../img/glitch/bg25.jpg'); }
    75%	{	background-image: url('../img/glitch/bg26.jpg'); }
    78%	{	background-image: url('../img/glitch/bg27.jpg'); }
    81% {	background-image: url('../img/glitch/bg28.jpg'); }
    84%	{	background-image: url('../img/glitch/bg29.jpg'); }
    87%	{	background-image: url('../img/glitch/bg30.jpg'); }
    90%	{	background-image: url('../img/glitch/bg31.jpg'); }
    93%	{	background-image: url('../img/glitch/bg32.jpg'); }
    96% {	background-image: url('../img/glitch/bg33.jpg'); }
    99%	{	background-image: url('../img/glitch/bg34.jpg'); }
    100%{	background-image: url('../img/glitch/bg35.jpg'); }
}

img {
	-webkit-backface-visibility: hidden;
}

body {
	font-family: 'Work Sans', sans-serif;
	color: $gray;
	background-color: $offwhite;
}

a {	
	transition: color .2s $default-transition;
	
	&:focus {
		color: $gray;
	}
}

.btn {
	font-family: 'Work Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: .24em;
	color: $black;
	border-width: 2px;
	border-style: solid;
	border-radius: 100px;
	padding: 16px 26px 14px;
	margin-bottom: 0;
	line-height: 1;
	display: inline-flex;
	position: relative;
	overflow: hidden;
	z-index: 1;
	box-shadow: 0;
	transition: color .3s $default-transition, 
				border-color .3s $default-transition,
				box-shadow .3s $default-transition;
 
	&::before,
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		height: 110%;
		width: 0;
		left: 0;
		top: 0;
		transform: skew(-50deg);
		transform-origin: top left;
		transition: width .3s $default-transition;
	}
 
	&:hover {
		box-shadow: $mdc-elevation--z24;
		transition: color .3s $default-transition,
					box-shadow .3s $default-transition,
					border-color .3s $default-transition,
					background-color 0s $default-transition .3s;

		&::before,
		&::after {
			width: 131%;
		}
	}
}

.btn-light {
	color: $black;
	border-color: $black;
 
	&::before,
	&::after {
		background: $black;
	}
 
	&:hover {
		color: $white !important;
		background-color: $black;
	}
}

.btn-dark {
	color: $white;
	border-color: $btn-border-dark;
 
	&::before,
	&::after {
		background: $white;
	}
 
	&:hover {
		color: $black !important;
		border-color: $white;
		background-color: $white;
	}
}

header {
	text-align: center;
	background-image: url('../img/bg.png');
	background-size: 100% 100%;
	background-color: $black;
	background-repeat: repeat-x;


	nav {
		height: 90px;
		display: flex;
		align-items: center;

		.logo {
			width: 52px;
			height: 40px;
			margin-left: 20px;
			position: relative;
		}

		.menu {
		    cursor: pointer;
  			z-index: 2;
  			margin-left: auto;
  			margin-right: 20px;
		   
		    span {
		    	width: 25px;
		    	height: 2px;
		    	background: $white;
		    	border-radius: 4px;
		    	display: block;
		    	margin-bottom: 5px;
		    	transition: all .2s;

		    	&:nth-child(1) {
			   		width: 16px;
			   	}

		    	&:nth-child(3) {
		    		margin-bottom: 0;
		    	}
		    }

		    &:hover {
		    	span {
		    		&:nth-child(1) {
			   			width: 25px;
		    		}
		    	}
		    }
		}
		
		.menu-open {
				
			span {
			    transform-origin: 50% 50%;
			   
			    &:nth-child(1) {
			    	width: 25px;
			    	transform: rotate(45deg) translate(5px,5px);
			   	}
			   
			   	&:nth-child(2) {
			   		opacity: 0;
			   	}
			   
			   	&:nth-child(3) {
			    	transform: rotate(-45deg) translate(5px,-5px);
			   	}
			}
		}

		ul {
			display: none;
		}
	}
	
	.intro {
		position: relative;
		padding: 20px 0 50px;

		h1 {
			font-family: 'Playfair Display', serif;
			font-size: 2.2em;
			color: $white;
			margin-bottom: 1rem;
			line-height: 1.48;

			span {
				font-weight: 700;
				font-style: italic;
			}
		}

		p {
			color: $gray;
			font-size: 18px;
			letter-spacing: .06rem;
			margin-bottom: 0;

			span {
				white-space: nowrap;
			}
		}
	}

	.divider {
		text-align: center;
	
		.container {
			position: relative;
			padding: 0 30px;
	
			img {
				position: relative;
				max-width: 1150px;
				width: 100%;
			}
	
			&::before {
				background-color: $offwhite;
				content: '';
				position: absolute;
				bottom: -1px;
				left: 0;
				width: 100%;
				height: 50%;
			}
		}
	
		.stack {
			
			img {
				max-height: 190px;
				width: auto;
				max-width: 100%;
			}
	
			&::before {
	    		content: '';
	    		position: absolute;
	    		top: 0;
	    		left: 0;
	    		width: 100%;
	    		height: 100%;
	    		background-image: url(../img/shadow@2x.png);
	    		background-position: center center;
	    		background-repeat: no-repeat;
	    		background-size: auto 100%;
			}
		}
	}
}


.work {
	text-align: center;
	margin: 55px 0 60px;
	position: relative;

	ul {
		margin: 0;
		list-style-type: none;

		li {
			display: block;
			text-align: center;
			overflow: hidden;

			img {
				width: 100%;
				transition: all .4s $default-transition;
				transform: scale(1);
				transform-origin: center center;
				box-shadow: 0;
		
				&:hover {
					opacity: 0.75;
					transform: scale(1.05);
				}
			}
		}
	}

	#view-all {
		margin-top: 40px;
	}
}

footer {
	background-image: url('../img/bg.png');
	background-size: 100% 90%;
	background-repeat: repeat-x;
	background-color: $black;

	.resume {
		text-align: center;
		padding: 60px 0;

		h4 {
			color: $gray;
			font-size: 15px;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: .24rem;
			margin-bottom: 12px;
		}

		h1 {
			font-family: 'Playfair Display', serif;
			color: $white;
			font-size: 2rem;
			margin-bottom: 22px;
		}
	}

	nav {
		height: 70px;
		background-color: $copyright-bg;

		.copyright {
			color: $copyright-text;
			font-size: 16px;
			text-align: center;
			line-height: 70px;
		}

		ul {
			display: none;
		}
	}
}

.mobile-nav {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: $black;
	display: flex;
  	justify-content: center;
  	align-items: center;

  	ul {
		margin: 0;
		list-style-type: none;
		text-align: center;
		
		li {
			text-transform: uppercase;
			letter-spacing: 0.12em;
			padding: 12px;

			a {
				font-size: 16px;
				letter-spacing: .24em;
				position: relative;
				color: $gray;
				font-weight: 500;

				&:hover {
					color: $white;
				}
			}
		}

		h4 {
			color: $white;
			font-size: 15px;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: .48rem;
		}
	
		.social {

			a {
				font-size: 18px;
				color: darken($gray, 25);
				padding: 0 7px;

				&:hover {
					color: $white;
				}
			}
		}
	}
}

// 550px+
@media screen and (min-width: 34.375em) {
	header {

		.intro {
			h1 {
				span {
					white-space: normal;
				}
			}
		}
	}
}

// 640px
@media screen and (min-width: 40em) {
	.work {

		ul {
	
			li {
				display: inline-block;
				width: 50%;
				float: left;
	
				img {
					width: 100%;
					max-width: 100%;
				}
			}
		}
	}
}

// 1024px+
@media screen and (min-width: 64em) {

	header {
		background-position: center top;
		background-size: auto;

		nav {
			height: 120px;

			.logo {
				width: 66px;
				height: 51px;

				&:hover {
					&::before { display: block;}
				}

				&::before {
					content: '';
					width: 100px;
					height: 100px;
					background-image: url('../img/glitch/logo01.png');
					background-size: 120px 120px;
					background-position: 50% 50%;
					position: absolute;
  					top: 50%;
  					left: 50%;
  					transform: translate(-50%, -50%);
  					display: none;
  					animation: glitch-logo 1s 0s 1;
				}
			}

			ul {
				margin: 0;
				list-style-type: none;
				display: block;
				margin-left: auto;

				li {
					display: inline;
					padding: 0 30px;
					line-height: 120px;

					a {
						color: $white;
						text-transform: uppercase;
						font-size: 16px;
						letter-spacing: .18em;

						&:hover {
							color: $gray;
						}
					}
				}
			}

			.menu { 
				display: none;
			}
		}

		.intro {
			padding: 110px 0 140px;
	
			h1 {
				font-size: 2.750em;
				max-width: 1100px;
				margin: 0 auto 20px;
			}
	
			p {
				font-size: 1.250em;
			}
		}

		.divider {

			.stack {
				margin: 0 auto 80px;
	
				img {
					max-height: 260px;
				}
			}
		}
	}

	.start {
		animation: glitch-bg 1.17s 0s 1;
	}

	.work {
		margin: 100px 0 140px;

		#view-all {
			margin-top: 80px;
		}
	}

	footer {
		background-position: center top -205px;
		background-size: auto;

		.resume {
			padding: 120px 0;

			h1 {
				font-size: 2.375em;
				margin-bottom: 30px;
			}

			h4 {
				font-size: 16px;
				margin-bottom: 15px;
			}
		}

		nav {
			height: 95px;
	
			.copyright {
				display: inline;
				float: left;
				letter-spacing: 0;
				line-height: 95px;
				text-align: left;
				margin-left: 25px;		
			}
	
			ul {
				margin: 0;
				list-style-type: none;
				display: inline-block;
				float: right;
				margin-right: 20px;

				li {
					display: inline;
					padding: 0 30px;
					line-height: 94px;

					a {
						color: $copyright-text;
						text-transform: uppercase;
						font-size: 15px;
						font-weight: 500;
						letter-spacing: .18em;

						&:hover {
							color: $white;
						}
					}
				}

				.social {
					padding-right: 0;

					a {
						font-size: 17px;
						color: darken($gray, 25);
						padding: 0 7px;

						&:last-of-type {
							padding-right: 0;
						}
		
						&:hover {
							color: $white;
						}
					}
				}
			}
		}
	}
}

// 1280px+
@media screen and (min-width: 80em) {}

// 1400px+
@media screen and (min-width: 87.5em) {}