@import "fonts";

$white: #ffffff; /* White */
$gray95: #f2f3f5; /* Off White */
$gray60: #999999; /* Medium Gray */
$blue17: #1f2126; /* Dark Blue */
$cyan42: #00c4d6;  /* Blue */

/* 0px+ */
@media screen {
}

/* 640px+ */
@media screen and (min-width: 40em) {
}

/* 768px+ */
@media screen and (min-width: 48em) {
}

/* 1024px+ */
@media screen and (min-width: 64em) {
}

/* 1200px+ */
@media screen and (min-width: 75em) {
}

/* 1400px+ */
@media screen and (min-width: 87.5em) {
}